[project]
	description = Demo application for the 'Jenkins: The Definitive Guide' book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/abaditsegay
[access "refs/for/refs/*"]
	read = group user/abaditsegay
	push = group user/abaditsegay
	label-Code-Review = -2..+2 group user/abaditsegay
	label-Verified = -1..+1 group user/abaditsegay
	rebase = group user/abaditsegay
	removeReviewer = group user/abaditsegay
	submit = group user/abaditsegay
[access "refs/heads/*"]
	read = group user/abaditsegay
	create = group user/abaditsegay
	push = +force group user/abaditsegay
	pushMerge = group user/abaditsegay
[access "refs/tags/*"]
	push = +force group user/abaditsegay
	pushTag = group user/abaditsegay
	pushSignedTag = group user/abaditsegay
